<p><%= @body[:applicant] %>，您好！</p>
<p style="padding:0 30px">管理员<%= @body[:admin_name] %>已将您的账号添加至交叉信息研究院(IIIS)财务报销申请系统。您可使用以下信息登录系统，并修改个人信息。</p>
<p style="padding:0 30px">您的登录邮箱为：<%= @body[:new_email] %>
<p style="padding:0 30px">您的用户名为：<%= @body[:new_username] %>
<p style="padding:0 30px">您的密码为：<%= @body[:new_password] %>
<p style="padding:0 30px">谢谢！</p>
