%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}

%div.container
  = render "/user/admin_navigation", :active_bar => 'add_user'
  %form{:action => "/#{params[:ver]}/#{params[:current_user]}/add_user"}
    %table
      %tbody{:align => 'right'}
        %tr
          %td= "姓名"
          %td 
            %input{:name => "realname"}
        %tr
          %td= "邮箱"
          %td
            %input{:name => "email"}
        %tr
          %td= "管理员"
          %td
            %select{:class => "form-control", :name => "is_admin"}
              %option= "是"
              %option= "否"
        %tr
          %td
          %td 
            %button{:class => "btn", :type => "submit", :name => 'commit'}= "保存"
          
