%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}

%div.container
  = image_tag("iiis.gif")
            
  %nav{:class => "navbar navbar-default", :role => "navigation"}
    %div{:class => "navbar-header"}
      %button{:type => "button", :class => "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => "#bs-example-navbar-collapse-1"}
        %span{:class => "sr-only"}Toggle navigation
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
      %a{:class => "navbar-brand"} 个人信息
    %div{:class => "collapse navbar-collapse", :id => "bs-example-navbar-collapse-1"}
      %ul{:class => "nav navbar-nav"}
        - Form.get_admin_tags.each do |x|
          %li{:class => ((x[1] == "reviewed")? "active":"")}
            %a{:href => "/#{params[:ver]}/#{params[:current_user]}/#{x[1]}", :name => @check_status_num[x[0]]}<
              =x[0]
              %span{:class => "badge pull-right"}= @check_status_num[x[0]]
      %ul{:class => "nav navbar-nav navbar-right"}
        %li.dropdown
          %a{:class => "dropdown-toggle", 'data-toggle' => "dropdown"}<
            设置
            %b.caret 
          %ul{:class => "dropdown-menu"}
            %li
              %a{:href => "/ch/#{@current_user.user_name}/user_management"} 账户管理
              %a{:href => "/ch/#{@current_user.user_name}/edit_profile"} 个人信息
        %li
          %a{:href =>"/#{params[:ver]}/#{@current_user.user_name}/logout"} 注销
  %form{:action => "/#{params[:ver]}/#{params[:current_user]}/edit_profile"}
    %table
      %tbody{:align => 'right'}
        %tr
          %td= "姓名"
          %td 
            %input{:name => "realname", :value => @current_user.realname}
        %tr
          %td= "邮箱"
          %td
            %input{:name => "email", :value => @current_user.email}
        %tr
          %td= "自动通知邮箱"
          %td
            %input{:name => "nemail", :value => ActionMailer::Base.smtp_settings[:user_name]}
          %td= "(目前只支持163邮箱)"
        %tr
          %td= "邮箱密码"
          %td
            %input{:type => :password, :name => :email_password}
        %tr
          %td= "原密码"
          %td
            %input{:type => :password, :name => :password}
        %tr
          %td= "新密码"
          %td
            %input{:name => "new_password", :type => "password"}
          %td= "(若不需要修改密码，请留空)"
        %tr
          %td= "确认新密码"
          %td
            %input{:name => "verify_password", :type => "password"}
        %tr
          %td
          %td 
            %button{:class => "btn", :type => "submit", :name => 'commit'}= "保存"
          
          
  
  %p2b= "#{flash[:notice]}" 
