%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}
- language = (params[:ver] == 'ch' ? 0:1)
- @navigation_title = [["我的申请", "My applications"], ["新的申请", "New Application"], ["编辑个人资料", "Edit Profile"]]
- @current_page = {"apps"=>0, "new_#{params[:app_type]}_form"=>1, "edit_profile"=>2}

%img{ :alt => "Logo", :src => "/assets/logo.gif", :height => '80px'}
%h1



= render "/common/alert"
%p= ["忘记密码？请输入您的登录邮箱：", "Forgot password? Please enter your login e-mail address:"][language]
      
%div.container
  %form{:action => "/#{params[:ver]}/forgot_password"}
    %table
      %tbody{:align => 'right'}
        %tr
          %td= ["邮箱", "E-mail address"][language]
          %td
            %input{:name => "email"}
          %td 
            %button{:class => "btn", :type => "submit", :name => 'commit'}= ["提交", "Submit"][language]
= render "/common/alert"

