%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}

%div.container
  = render "/user/admin_navigation", :active_bar => 'user_management'
      
  %table.table
    %thead
      %tr
        %th 用户名
        %th 姓名
        %th 是否管理员
        %th 姓名
        %th 电子邮箱
        %th 删除
    %tbody
      - @user.each do |a|
        %tr{:class => "warning"}
          %td= a.user_name
          %td= a.realname
          %td= (if a.is_admin then "是" else "否" end)
          %td= a.realname
          %td= a.email
          %td= link_to '删除', '/ch/'+a[:user_name]+'/removeuser'
  
  %li= link_to '添加新用户', "/#{params[:ver]}/#{@current_user.user_name}/add_user"

