%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}
- language = (params[:ver] == 'ch' ? 0:1)
%div.container
  = render "user_navigation", :active_bar => 'edit_profile'
  %form{:action => "/#{params[:ver]}/#{params[:current_user]}/edit_profile"}
    %table
      %tbody{:align => 'right'}
        %tr
          %td= ["姓名", "Name"][language]
          %td 
            %input{:name => "realname", :value => @current_user.realname}
        %tr
          %td= ["邮箱", "Email"][language]
          %td
            %input{:name => "email", :value => @current_user.email}
        %tr
          %td= ["原密码", "Origin Password"][language]
          %td
            %input{:type => :password, :name => :password}
        %tr
          %td= ["新密码", "New Password"][language]
          %td
            %input{:name => "new_password", :type => "password"}
          %td= ["(若不需要修改密码，请留空)", "(If you don't want to change password, please do not fill in this blank)"][language]
        %tr
          %td= ["确认新密码", "Verify Password"][language]
          %td
            %input{:name => "verify_password", :type => "password"}
        %tr
          %td
          %td 
            %button{:class => "btn", :type => "submit", :name => 'commit'}= ["保存", "Save"][language]

