- language = (params[:ver] == 'ch' ? 0:1)
%tr{:id => "collapse#{a.id}", :class => "panel-collapse collapse"}
  %td
  %td{:colspan => "#{columns}"}
    %div{:class => "panel-body"}
      %table{:class => "table table-bordered"}
        %thead
          %tr
            %td.thcenter{:colspan => 2, :width => "12%"} 姓名
            - a.otherinfo.match(/name\((.*?)\), country\((.*?)\), date\((.*?)\)$/)
            %td.thcenter{:width => "14%"}
              = $1
            %td.thcenter{:width => "14%"} 国家/地区
            %td.thcenter{:colspan => 2, :width => "16%"}
              = $2
            %td.thcenter{:width => "20%"} 出访日期
            %td.thcenter{:width => "24%"}
              = $3
        %tbody
          %tr
            %td.thcenter{:colspan => 3} 事项
            %td.thcenter{:colspan => 2} 金额
            %td.thcenter{:colspan => 2} 事项
            %td.thcenter 金额
          - b = a.apps
          - for i in 0..Form.tot_student_details/2-1 do 
            %tr
              %td.thcenter{:width => '6%'}= i+1
              %td.thcenter{:colspan => 2}= Form.get_student_details[i]
              %td.thcenter{:colspan => 2}= b[i].amount
              %td.thcenter{:width => "6%"}= i+5
              %td.thcenter= Form.get_student_details[i+Form.tot_student_details/2]
              %td.thcenter= b[i+Form.tot_student_details/2].amount
          %tr
            %td.thcenter{:colspan => 2}= '合计'
            %td{:colspan => 4}= a.tot_amount
            %td.thcenter= '帐号'
            %td
              %input{:class => "noneinput-center", :name => "account_num", :value => b[0].account_num, :readonly => readonly}
          %tr
            - a.otherinfo.match(/^borrow\((.*?), (.*?)\), receipts\((.*?)\)/)
            %td.thleft{:colspan => 6}
              = "是否有借款"
              %input{:type => "radio", "value" => "1", :checked => $1 == '1'} 是
              %input{:readonly => readonly, :value => $2}
              %input{:type => "radio", "value" => "0", :checked => $1 == '0'} 否
            %td.thleft{:colspan => 2}
              ="附票据张数"
              %input{:readonly => readonly, :value => $3}
