= render '/common/prepare'
- language = (params[:ver] == 'ch' ? 0:1)

%div{ :class => "container"}
  = render "/user/user_navigation", :active_bar => "apps"
  %h1
  
  %table.table{:class=>"table-hover"}
    %thead
      %tr{:class => 'success'}
        - User.get_user_show_th.each do |x|
          %th.thcenter{:width => "#{x[2]}%"}= x[language]
    %tbody{:align => 'center'}
      - @apps_reim.each do |a|
        %tr
          %td
            %button{:type => "button", :id => "button#{a.id}", :class => "btn btn-xs", 'data-complete-text' => '-','data-origin-text' => '+', 'data-toggle' => "button", :class => "btn btn-xs", :onClick => "change('#{a.id}')", :value => '+'}= '+'
          %td= a.id
          %td= a.created_at
          %td= Form.get_app_tags[Form.get_app_type[a.app_type]][language]
          %td= a.tot_amount
          %td= Form.get_user_check_tags[a.check_status][language]
          %td= link_to 'x', "/#{params[:ver]}/#{@current_user.user_name}/delete/#{a.id}"
        = render (a.app_type == "student"? "show_student_form" : "show_reim_or_loan_form"), :a => a, :columns => 8, :readonly => true

