%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}

%div.container
  %img{ :alt => "Logo", :src => "/assets/logo.gif", :height => '80px'}
  %h1
  
  %nav{:class => "navbar navbar-default", :role => "navigation"}
    %div{:class => "navbar-header"}
      %button{:type => "button", :class => "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => "#bs-example-navbar-collapse-1"}
        %span{:class => "sr-only"}Toggle navigation
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
      %a{:class => "navbar-brand"} 审核申请
    %div{:class => "collapse navbar-collapse", :id => "bs-example-navbar-collapse-1"}
      %ul{:class => "nav navbar-nav"}
        - App.get_user_tags.each do |x|
          %li{:class => ((x[1] == "apps")? "active":"")}
            %a{:href => "/#{params[:ver]}/#{params[:current_user]}/#{x[1]}"}<
              =x[0]
              %span{:class => "badge pull-right"}
          %li.dropdown
            %a{:class => "dropdown-toggle", 'data-toggle' => "dropdown"}<
              填写新申请
              %b.caret
            %ul{:class => "dropdown-menu"}
              - App.get_user_new_tags.each do |x|
                %li
                  %a{:href => "/ch/#{@current_user.user_name}/#{x[1]}"}<
                    =x[0]
           
      %ul{:class => "nav navbar-nav navbar-right"}
        %li.dropdown
          %a{:class => "dropdown-toggle", 'data-toggle' => "dropdown"}< 
            设置
            %b.caret 
          %ul{:class => "dropdown-menu"}
            %li
              %a{:href => "/ch/#{@current_user.user_name}/user_management"} 账户管理
        %li
          %a{:href =>"/#{params[:ver]}/#{@current_user.user_name}/logout"} 注销

  %h1 我的申请
  %h2 报销申请
  %table.table
    %thead
      %tr
        %th{:width => "20%"} 内容
        %th{:width => "15%"} 金额
        %th{:width => "10%"} 报销方式
        %th{:width => "20%"} 申请日期
        %th{:width => "10%"} 申请类型
        %th{:width => "10%"} 处理结果
        %th{:width => "10%"} 删除
    %tbody
      - @apps_reim.each do |a|
        %tr{:class => "warning"}
          %td= a.details
          %td= a.amount
          %td= a.pay_method
          %td= a.created_at
          %td= ''
          %td= link_to '撤销', '/ch/'+a.created_at.to_i.to_s+'/delete' 

  %h2 借款申请      
  %table.table
    %thead
      %tr
        %th{:width => "20%"} 内容
        %th{:width => "15%"} 金额
        %th{:width => "10%"} 报销方式
        %th{:width => "20%"} 申请日期
        %th{:width => "10%"} 申请类型
        %th{:width => "10%"} 处理结果
        %th{:width => "10%"} 删除
    %tbody
      - @apps_loan.each do |a|
        %tr{:class => "warning"}
          %td= a.details
          %td= a.amount
          %td= a.pay_method
          %td= a.created_at
          %td= ''
          %td= link_to '撤销', '/ch/'+a.created_at.to_i.to_s+'/delete'     

  = flash.each do |key, value|
    .alert{ :class => "alert-#{key}" }
      /%button.close{ :data => { :dismiss => "alert" } } 
      %strong
        = value  

