= image_tag("iiis.gif")
%h1 财务报销申请系统
%p2= ('您好，' + @current_user.user_name)

%p2= link_to '申请', "/ch/#{@current_user.user_name}/apps"
%p2= link_to '注销', "/ch/#{@current_user.user_name}/logout"
%h1 我的申请
%h2 报销申请
%table#movies
  %thead
    %tr
      %th 内容
      %th 金额
      %th 报销方式
      %th 申请日期
      %th 申请类型
      %th 处理结果
      %th 删除
  %tbody
    - @apps_reim.each do |a|
      %tr
        %td= a.details
        %td= a.amount
        %td= a.pay_method
        %td= a.app_date
        %td= a.app_type==0? '报销' : '借款'
<<<<<<< HEAD
        %td= 'aa'
        %td= link_to '撤销', '/ch/'+a.created_at.to_i.to_s+'/delete'
=======
        %td= ''
        %td= link_to '删除', '/ch/'+a.created_at.to_i.to_s+'/delete' 
= link_to '填写报销申请', "/ch/#{@current_user.user_name}/new_reim_app"  
>>>>>>> parent of 28ca834... order is rearranged

%h2 借款申请      
%table#movies
  %thead
    %tr
      %th 内容
      %th 金额
      %th 支付方式
      %th 申请日期
      %th 申请类型
      %th 处理结果
      %th 删除
  %tbody
    - @apps_loan.each do |a|
      %tr
        %td= a.details
        %td= a.amount
        %td= a.pay_method
        %td= a.app_date 
        %td= a.app_type==0? '报销' : '借款'
<<<<<<< HEAD
=======
        %td= ''
        %td= link_to '删除', '/ch/'+a.created_at.to_i.to_s+'/delete'     
>>>>>>> parent of 28ca834... order is rearranged
        
= link_to '填写借款申请', "/ch/#{@current_user.user_name}/new_loan_app"      
= flash.each do |key, value|
  .alert{ :class => "alert-#{key}" }
    /%button.close{ :data => { :dismiss => "alert" } } 
    %strong
      = value  

