%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}
- language = (params[:ver] == 'ch' ? 0:1)
%div{ :class => "container"}
  = render "/user/user_navigation", :active_bar => "apps"
  %h1
  
  %table.table
    %thead
      %tr
        - User.get_user_show_th.each do |x|
          %th.thcenter{:width => "#{x[2]}%"}= x[language]
    %tbody{:align => 'center'}
      - @apps_reim.each do |a|
        %tr{:class => "warning"}
          %td{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapse#{a.id}"} +
          %td= a.id
          %td= a.created_at
          %td= Form.get_app_tags[Form.get_app_type[a.app_type]][language]
          %td= a.tot_amount
          %td= Form.get_check_tags[a.check_status][0]
          %td= link_to '撤销', "/#{params[:ver]}/#{@current_user.user_name}/delete/#{a.id}"
        = render (a.app_type == "student"? "show_student_form" : "show_reim_or_loan_form"), :a => a, :columns => 5

  = flash.each do |key, value|
    .alert{ :class => "alert-#{key}" }
      /%button.close{ :data => { :dismiss => "alert" } } 
      %strong
        = value  

