%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}

%div.container
  %img{ :alt => "Logo", :src => "/assets/logo.gif", :height => '80px'}
  %h1
              
  %nav{:class => "navbar navbar-default", :role => "navigation"}
    %div{:class => "navbar-header"}
      %button{:type => "button", :class => "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => "#bs-example-navbar-collapse-1"}
        %span{:class => "sr-only"}Toggle navigation
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
      %a{:class => "navbar-brand"} 待确认的申请
    %div{:class => "collapse navbar-collapse", :id => "bs-example-navbar-collapse-1"}
      %ul{:class => "nav navbar-nav"}
        - Form.get_admin_tags.each do |x|
          %li{:class => ((x[1] == "wait_for_verify")? "active":"")}
            %a{:href => "/#{params[:ver]}/#{params[:current_user]}/#{x[1]}", :name => @check_status_num[x[0]]}<
              =x[0]
              %span{:class => "badge pull-right"}= @check_status_num[x[0]]
      %ul{:class => "nav navbar-nav navbar-right"}
        %li.dropdown
          %a{:class => "dropdown-toggle", 'data-toggle' => "dropdown"}< 
            设置
            %b.caret 
          %ul{:class => "dropdown-menu"}
            %li
              %a{:href => "/ch/#{@current_user.user_name}/user_management"} 账户管理
        %li
          %a{:href =>"/#{params[:ver]}/#{@current_user.user_name}/logout"} 注销
        
  %table.table
    %thead
      %tr
        %th{:width => "10%"} 申请人
        %th{:width => "15%"} 申请时间
        %th{:width => "15%"} 内容
        %th{:width => "10%"} 金额
        %th{:width => "8%"} 申请类型
        %th{:width => "8%"} 支付方式
        %th{:width => "6%"} 审核
        %th{:width => "20%"} 账号
        %th{:width => "4%"} 确认
        %th{:width => "4%"} 删除
    %tbody
      - @get_apps.each do |a|
        %tr{:class => (a.check_status == 1? "success":"warning")}
          %td= a.applicant  
          %td= a.created_at.strftime("%Y-%m-%d %H:%M:%S") 
          %td= a.details  
          %td= a.amount
          %td= App.take_pay_methods[a.app_type]
          %td= a.pay_method
          %td= a.check_status == 1? '通过':'不通过'
          
          %form{:action => "/#{params[:ver]}/#{params[:current_user]}/change_to_status_#{a.check_status+2}_from_#{a.check_status}/#{a.id}"}     
            %td
              %input{:type => "text", :class => "form-control", :required => (a.check_status == 1?true:false), :disabled => (a.check_status == 1? false:true), :name => "account[#{a.id}]"}
            %td
              %button{:type => "submit", :class => "btn btn-default btn-sm"} 
                %span{:class => "glyphicon glyphicon-ok-circle"} 
          %form{:action => "/#{params[:ver]}/#{params[:current_user]}/change_to_status_0_from_#{a.check_status}/#{a.id}"}     
            %td
              %button{:type => "submit", :class => "btn btn-default btn-sm"} 
                %span{:class => "glyphicon glyphicon-remove"} 
  
  %p2b= "#{flash[:notice]}"
  
