= render "/common/prepare"
%div.container
  = render "/user/admin_navigation", :active_bar => 'wait_for_verify'

  %table.table{:class=>"table-hover"}
    %thead
      %tr{:class => 'success'}
        %th.thcenter{:width => "5%"} 展开
        %th.thcenter{:width => "5%"} 编号
        %th.thcenter{:width => "15%"} 申请人
        %th.thcenter{:width => "20%"} 申请时间
        %th.thcenter{:width => "20%"} 总金额
        %th.thcenter{:width => "15%"} 申请类型
        %th.thcenter{:width => "10%"} 审核结果
        %th.thcenter{:width => "5%"} 确认
        %th.thcenter{:width => "5%"} 删除

    %tbody{:align => 'center'}
      - @get_forms.each do |a|
        %form{:action => "/#{params[:ver]}/#{params[:current_user]}/change_to_status_3_from_1/#{a.id}"}
          %tr
            %td
              %button{:type => "button", :id => "button#{a.id}", :class => "btn btn-xs", 'data-complete-text' => '-','data-origin-text' => '+', 'data-toggle' => "button", :class => "btn btn-xs", :onClick => "change('#{a.id}')", :value => '+'}= '+'
            %td= a.id
            %td= a.user.realname != nil ? a.user.realname: a.user.user_name
            %td= a.created_at.strftime("%Y-%m-%d %H:%M:%S")
            %td= a.tot_amount
            %td= Form.get_app_tags[Form.get_app_type[a.app_type]][0]
            %td= a.check_status == 1? '通过':'不通过'
            %td
              %button{:type => "submit", :class => "btn btn-default btn-xs"}
                %span{:class => "glyphicon glyphicon-ok"}
            %td
              %button{:type => "submit", :class => "btn btn-default btn-xs", :name => "delete"}
                %span{:class => "glyphicon glyphicon-remove"}
          = render (a.app_type == "student"? "show_student_form" : "show_reim_or_loan_form"), :a => a, :columns => 8, :readonly => false
  
