%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}

%div.container
  %img{ :alt => "Logo", :src => "/assets/logo.gif", :height => '80px'}
  %h1
  
  %nav{:class => "navbar navbar-default", :role => "navigation"}
    %div{:class => "navbar-header"}
      %button{:type => "button", :class => "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => "#bs-example-navbar-collapse-1"}
        %span{:class => "sr-only"}Toggle navigation
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
      %a{:class => "navbar-brand"} 填写申请
    %div{:class => "collapse navbar-collapse", :id => "bs-example-navbar-collapse-1"}
      %ul{:class => "nav navbar-nav"}
        - App.get_user_tags.each do |x|
          %li
            %a{:href => "/#{params[:ver]}/#{params[:current_user]}/#{x[1]}"}<
              =x[0]
              %span{:class => "badge pull-right"}
          %li.dropdown{:class => "active"}
            %a{:class => "dropdown-toggle", 'data-toggle' => "dropdown"}<
              填写新申请
              %b.caret
            %ul{:class => "dropdown-menu"}
              - App.get_user_new_tags.each do |x|
                %li
                  %a{:href => "/ch/#{@current_user.user_name}/#{x[1]}"}<
                    =x[0]
                   
      %ul{:class => "nav navbar-nav navbar-right"}
        %li.dropdown
          %a{:class => "dropdown-toggle", 'data-toggle' => "dropdown"}< 
            设置
            %b.caret 
          %ul{:class => "dropdown-menu"}
            %li
              %a{:href => "/ch/#{@current_user.user_name}/user_management"} 账户管理
        %li
          %a{:href =>"/#{params[:ver]}/#{@current_user.user_name}/logout"} 注销

  %h1 报销单
  %form{:action => "/#{params[:ver]}/#{params[:current_user]}/new_#{params[:app_type]}_form", :commit => 'true'}
    %table{:class => "table table-bordered", :align => "center"}
      %thead
        %tr
          %td{:width => "5%", :align => "center"} 序号
          %td{:width => "70%", :align => "center"} 内容
          %td{:width => "15%", :align => "center"} 金额
          %td{:width => "10%", :align => "center"} 报销方式
      %tbody
        - for i in 1..@TOT_APPS do 
          %tr
            %td{:align => "center"}= i
            %td
              %input{:class => "noneinput", :name => "form_entry[i][:details]"}
            %td
              %input{:class => "noneinput", :name => "form_entry[i][:amount]"}
            %td
              %input{:class => "noneinput", :name => "form_entry[i][:pay_method]"}
    %button{:type => "submit", :class => "btn btn-default btn-sm"} 提交
  = flash.each do |key, value|
    .alert{ :class => "alert-#{key}" }
      /%button.close{ :data => { :dismiss => "alert" } } 
      %strong
        = value  

