%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}
- language = (params[:ver] == 'ch' ? 0:1)
%div{ :class => "container"}
  %img{ :alt => "Logo", :src => "/assets/logo.gif", :height => '80px'}
  %h1
  
  %nav{:class => "navbar navbar-default", :role => "navigation"}
    %div{:class => "navbar-header"}
      %button{:type => "button", :class => "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => "#bs-example-navbar-collapse-1"}
        %span{:class => "sr-only"}Toggle navigation
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
      %a{:class => "navbar-brand"}= language == 1 ? "New Application":"新的申请"
    %div{:class => "collapse navbar-collapse", :id => "bs-example-navbar-collapse-1"}
      %ul{:class => "nav navbar-nav"}
        - User.get_user_tags.each do |x|
          %li
            %a{:href => "/#{params[:ver]}/#{params[:current_user]}/#{x[2]}"}<
              =x[language]
              %span{:class => "badge pull-right"}
        %li.dropdown
          %a{:class => "dropdown-toggle", 'data-toggle' => "dropdown"}<
            =language == 1 ? "New Application":"填写新申请"
            %b.caret
          %ul{:class => "dropdown-menu"}
            - User.get_user_new_tags.each do |x|
              %li
                %a{:href => "/#{params[:ver]}/#{@current_user.user_name}/#{x[2]}"}<
                  =x[language]
           
      %ul{:class => "nav navbar-nav navbar-right"}
        %li.dropdown
          %a{:class => "dropdown-toggle", 'data-toggle' => "dropdown"}< 
            =language == 1 ? "Settings":"设置"
            %b.caret 
          %ul{:class => "dropdown-menu"}
            %li
              %a{:href => "/#{params[:ver]}/#{@current_user.user_name}/user_management"} 
                =language == 1 ? "Preferences":"偏好"
        %li
          - redirect = language == 1 ? "ch":"en"
          %a{:href =>"/#{redirect}/#{@current_user.user_name}/new_#{params[:app_type]}_form"} 
            =language == 1 ? "中文版":"English"
        %li
          %a{:href =>"/#{params[:ver]}/#{@current_user.user_name}/logout"} 
            =language == 1 ? "logout":"注销"

  %h1= params[:app_type] == "reim" ? (language == 1 ? "Reimbursement Application":"报销单"):(language == 1 ? "Loan Application":"借款单")
  %form{:action => "/#{params[:ver]}/#{params[:current_user]}/new_#{params[:app_type]}_form"}
    %table{:class => "table table-bordered", :align => "center"}
      %thead
        %tr
        - Form.get_reim_th.each do |x|
          %th.thcenter{:width => "#{x[2]}%"}= x[language]
      %tbody
        - for i in 1..@TOT_APPS do 
          %tr
            %td{:align => "center"}= i
            %td
              %input{:class => "noneinput", :name => "form_entry[#{i}][details]", :value => (params[:form_entry] != nil && params[:form_entry][i.to_s] != nil ? params[:form_entry][i.to_s][:details] : nil)}
            %td
              %input{:class => "noneinput-center", :name => "form_entry[#{i}][amount]", :value => (params[:form_entry] != nil && params[:form_entry][i.to_s] != nil ? params[:form_entry][i.to_s][:amount] : nil)}
            %td
              %select{:class => "form-control", :name => "form_entry[#{i}][pay_method]"}
                %option 现金
                %option 支票
                %option 汇款
                - if params[:app_type] == "reim"
                  %option 银行卡
    %button{:type => "submit", :class => "btn btn-default btn-sm", :name => "commit"}= language == 1 ? "Submit":"提交"
    
  %strong= flash[:notice]

