%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}
- language = (params[:ver] == 'ch' ? 0:1)
%div{ :class => "container"}
  %img{ :alt => "Logo", :src => "/assets/logo.gif", :height => '80px'}
  %h1
  
  %nav{:class => "navbar navbar-default", :role => "navigation"}
    %div{:class => "navbar-header"}
      %button{:type => "button", :class => "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => "#bs-example-navbar-collapse-1"}
        %span{:class => "sr-only"}Toggle navigation
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
      %a{:class => "navbar-brand"}= language == 1 ? "New Application":"新的申请"
    %div{:class => "collapse navbar-collapse", :id => "bs-example-navbar-collapse-1"}
      %ul{:class => "nav navbar-nav"}
        - User.get_user_tags.each do |x|
          %li
            %a{:href => "/#{params[:ver]}/#{params[:current_user]}/#{x[2]}"}<
              =x[language]
              %span{:class => "badge pull-right"}
        %li.dropdown
          %a{:class => "dropdown-toggle", 'data-toggle' => "dropdown"}<
            =language == 1 ? "New Application":"填写新申请"
            %b.caret
          %ul{:class => "dropdown-menu"}
            - User.get_user_new_tags.each do |x|
              %li
                %a{:href => "/#{params[:ver]}/#{@current_user.user_name}/#{x[2]}"}<
                  =x[language]
           
      %ul{:class => "nav navbar-nav navbar-right"}
        %li.dropdown
          %a{:class => "dropdown-toggle", 'data-toggle' => "dropdown"}< 
            =language == 1 ? "Settings":"设置"
            %b.caret 
          %ul{:class => "dropdown-menu"}
            %li
              %a{:href => "/#{params[:ver]}/#{@current_user.user_name}/edit_profile"} 
                =language == 1 ? "Personal Info":"个人信息"
        %li
          - redirect = language == 1 ? "ch":"en"
          %a{:href =>"/#{redirect}/#{@current_user.user_name}/new_#{params[:app_type]}_form"} 
            =language == 1 ? "中文版":"English"
        %li
          %a{:href =>"/#{params[:ver]}/#{@current_user.user_name}/logout"} 
            =language == 1 ? "logout":"注销"

  %h1 清华大学交叉信息研究院 学生出访/会议 报销单
  %form{:action => "/#{params[:ver]}/#{params[:current_user]}/new_#{params[:app_type]}_form"}
    %table{:class => "table table-bordered", :align => "center"}
      %thead
        %tr
          %th.thcenter{:width => "30%"} 事项
          %th.thcenter{:width => "20%"} 金额
          %th.thcenter{:width => "30%"} 事项
          %th.thcenter{:width => "20%"} 金额
      %tbody{:align => 'center'}
        - for i in 0..Form.tot_student_details/2-1 do 
          %tr
          %td
            %input{:class => "noneinput-center", :name => "form_entry[#{i}][details]", :value => Form.get_student_details[i]}
          %td
            %input{:class => "noneinput-center", :name => "form_entry[#{i}][amount]", :value => (params[:form_entry] != nil && params[:form_entry][i.to_s] != nil ? params[:form_entry][i.to_s][:amount] : nil)}
          %td
            %input{:class => "noneinput-center", :name => "form_entry[#{i+Form.tot_student_details/2}][details]", :value => Form.get_student_details[i+Form.tot_student_details/2]}
          %td
            %input{:class => "noneinput-center", :name => "form_entry[#{i+Form.tot_student_details/2}][amount]", :value => (params[:form_entry] != nil && params[:form_entry][(i+Form.tot_student_details/2)] != nil ? params[:form_entry][(i+Form.tot_student_details/2).to_s][:amount] : nil)}
    %button{:type => "submit", :class => "btn btn-default btn-sm", :name => "commit"}= language == 1 ? "Submit":"提交"
    
  %strong= flash[:notice]

