= image_tag("iiis.gif")
%h1 财务报销申请系统
%p2= link_to '登录系统尚未完成，临时跳转至用户页面', '/apps'
%br/
%p 欢迎来到本系统！请登录：

= '用户名'
%br/
= text_field_tag :username
%br/
= '密码'
%br/
= password_field_tag :password
%br/
= submit_tag '登录'
= check_box_tag 'cookies'
= '保存cookies'
%br
%p2= link_to '忘记密码？'
%br/

%p2= link_to 'English Version', '/en/index.html'
%br/
%p2= link_to "清华大学 交叉信息研究院 官方主页", "http://iiis.tsinghua.edu.cn"
%br/
%p1 More is supposed to be added!
%br/
%p1 Designed by IIIS, Tsinghua University.
