


= flash.each do |key, value|
  .alert{ :class => "alert-#{key}" }
    /%button.close{ :data => { :dismiss => "alert" } } 
    %strong
      = value
%p2= link_to '忘记密码？'
%br/

%p2= link_to 'English Version', '/en/index.html'
%br/
%p2= link_to "清华大学 交叉信息研究院 官方主页", "http://iiis.tsinghua.edu.cn"
%br/
%p1 More is supposed to be added!
%br/
%p1 Designed by IIIS, Tsinghua University.
%div.container
  %form.form-signin{:action => '/ch/login', :method => 'post'}
    %h2.form-signin-heading= 'Please sign in'
    %input.form-control{:type => "text", :placeholder => "用户名", :required => true, :autofocus => true, :id => :user_username, :name => "user[username]"}
    %input.form-control{:type => "password", :placeholder => "密码", :required => true, :id => :user_password, :name => "user[password]"}
    %label.checkbox
      %input{:type => "checkbox", :value => "remember-me"} 记住我
    %button{:class => "btn btn-lg btn-primary btn-block", :type => "submit", :name => :commit} 登录


