%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css"}
%link{:rel => "stylesheet", :href => "http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"}
- language = (params[:ver] == 'ch' ? 0:1)
%div.container
  %img{ :alt => "Logo", :src => "/assets/logo.gif", :height => '80px'}
  %h1
  
  %form.form-signin{:action => '/en/login', :method => 'post', :class => "pull-middle"}
    %h3.form-signin-heading= 'Welcome! Please login:'
    %input{:class => "form-control", :type => "text", :placeholder => "Email address", :required => true, :autofocus => true, :id => :user_username, :name => "user[username]"}
    %input.form-control{:type => "password", :placeholder => "Password", :required => true, :id => :user_password, :name => "user[password]"}
    %label.checkbox
      %input{:type => "checkbox", :value => "remember-me"} Remember me
    %button{:class => "btn btn-lg btn-primary btn-block", :type => "submit", :value => '登录'} Login
%div{:align => "middle", :class => "container"}
  %body
    %p2= link_to '中文版', '/ch/index.html'
    %br/
    %p2= link_to "Home page of IIIS, Tsinghua", "http://iiis.tsinghua.edu.cn"
    %br/
    %p0= 'More is supposed to be added!'
    %br/
    %p2b Designed by IIIS, Tsinghua University.

%p2b= "#{flash[:notice]}"

