= image_tag("iiis.gif")
%h1 Loan&Reimbursement Application System
%br/
%p Welcome! Please login:

= form_tag '/ch/login' do

  = label :user, :name, 'Username'
  %br/
  = text_field :user, 'username'
  
  %br/ 
  = label :uer, :pass, 'Password'
  %br/
  = text_field :user, 'password'
  %br/
  = submit_tag 'Login'

= check_box_tag 'cookies'
= 'keep the cookies'
%br

= flash.each do |key, value|
  .alert{ :class => "alert-#{key}" }
    /%button.close{ :data => { :dismiss => "alert" } } 
    %strong
      = value
%p2= link_to 'Forget password？'
%br/
%p2= link_to '中文版', '/ch/index.html'
%br/
%p2= link_to "Home page of IIIS, Tsinghua", "http://iiis.tsinghua.edu.cn"
%br/
%p1 More is supposed to be added!
%br/
%p1 Designed by IIIS, Tsinghua University.
